In [6]:
import pandas as pd

# create a sample datset
data = {'Name' : ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age' : [25, 32, 18, 47, 33],
        'City' : ['New York', 'Paris', 'London', 'Tokyo', 'Sydney']}

df = pd.DataFrame(data)

# display the dataset
print(df)
print()

selected_rows = [1,2,4]
sliced_df = df.iloc[selected_rows]
print(sliced_df)
print()

# select a range of rows from dataframe
sliced_df = df.iloc[1:3]
print("Sliced df after selecting a range of rows: ")
print(sliced_df)

      Name  Age      City
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47     Tokyo
4      Eve   33    Sydney

      Name  Age    City
1      Bob   32   Paris
2  Charlie   18  London
4      Eve   33  Sydney

Sliced df after selecting a range of rows:
      Name  Age    City
1      Bob   32   Paris
2  Charlie   18  London