In [6]:
import pandas as pd

# create two sample dataframes

df1 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'],
                   'ID': [1, 2, 3],
                    'Country': ['USA', 'UK', 'France']})

df2 = pd.DataFrame({'ID': [1, 2, 4],
                   'Salary': [50000, 60000, 55000]})

print("df1 :")
print(df1)
print()
print("df2 :")
print(df2)

df1 :
      Name  ID Country
0    Alice   1     USA
1      Bob   2      UK
2  Charlie   3  France

df2 :
   ID  Salary
0   1   50000
1   2   60000
2   4   55000

## Inner Join:

In [2]:
# Perform inner join
merged_df = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join: ")
print(merged_df)
print()

Inner Join:
    Name  ID Country  Salary
0  Alice   1     USA   50000
1    Bob   2      UK   60000

**Left Join**:

In [3]:
# Perform left join:
merged_df = pd.merge(df1, df2, on='ID', how='left')
print("Left Join: ")
print(merged_df)
print()

Left Join:
      Name  ID Country   Salary
0    Alice   1     USA  50000.0
1      Bob   2      UK  60000.0
2  Charlie   3  France      NaN

**Right Join**

In [4]:
# Perform right join:
merged_df = pd.merge(df1, df2, on='ID', how='right')
print("Right Join: ")
print(merged_df)
print()

Right Join:
    Name  ID Country  Salary
0  Alice   1     USA   50000
1    Bob   2      UK   60000
2    NaN   4     NaN   55000

**Outer Join**

In [5]:
# Perform right join:
merged_df = pd.merge(df1, df2, on='ID', how='right')
print("Right Join: ")
print(merged_df)
print()

# Perform outer join:
merged_df = pd.merge(df1, df2, on='ID', how='outer')
print("Outer Join: ")
print(merged_df)

Right Join:
    Name  ID Country  Salary
0  Alice   1     USA   50000
1    Bob   2      UK   60000
2    NaN   4     NaN   55000

Outer Join:
      Name  ID Country   Salary
0    Alice   1     USA  50000.0
1      Bob   2      UK  60000.0
2  Charlie   3  France      NaN
3      NaN   4     NaN  55000.0

In [13]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url= "https://i.sstatic.net/hMKKt.jpg")