In [ ]:
import pandas as pd
import os

# Load the dataset
csv_path = os.path.join(os.getcwd(), 'dummy_data.csv')
df = pd.read_csv(csv_path)
print(df)

      name  age           city
0    Alice   30       New York
1      Bob   25    Los Angeles
2  Charlie   35        Chicago
3    Diana   28  San Francisco
4   Edward   40         Boston