In [ ]:
import pandas as pd

# create a sample datset
data = {'Name' : ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age' : [25, 32, 18, 47, 33],
        'ID' : [5, 1, 4, 2, 3],
        'City' : ['New York', 'Paris', 'London', 'Tokyo', 'Sydney'],
        'Salary': [50000, 60000, 55000, 57000, 40000],
        }

df = pd.DataFrame(data)

# display the dataset
print(df)
print()

# filter df using a list of column index from dataframe
selected_columns = [1,2,4]
sliced_df = df.iloc[:, selected_columns]
print("Sliced df after selecting a list of columns: ")
print(sliced_df)
print()

# filter df from a list of column names from dataframe
selected_columns = ["Age", "City"]
sliced_df = df[selected_columns]
print("Sliced df after selecting a list of column names: ")
print(sliced_df)
print()

# select a range of columns from dataframe
sliced_df = df.iloc[:, 1:3]
print("Sliced df after selecting a range of columns: ")
print(sliced_df)

      Name  Age  ID      City  Salary
0    Alice   25   5  New York   50000
1      Bob   32   1     Paris   60000
2  Charlie   18   4    London   55000
3    David   47   2     Tokyo   57000
4      Eve   33   3    Sydney   40000

Sliced df after selecting a list of columns:
   Age  ID  Salary
0   25   5   50000
1   32   1   60000
2   18   4   55000
3   47   2   57000
4   33   3   40000

Sliced df after selecting a list of column names:
   Age      City
0   25  New York
1   32     Paris
2   18    London
3   47     Tokyo
4   33    Sydney

Sliced df after selecting a range of columns:
   Age  ID
0   25   5
1   32   1
2   18   4
3   47   2
4   33   3